*{
    border-radius: 3%;
}
#php {
    display: inline-block;
    background-color: pink;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
     }
 #jquery {
    display: inline-block;
    background-color: beige;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
   
     }
#one{
    display: flex;
    justify-content: center;
        align-items: center;
}
 #java{
    display: inline-block;
    background-color: lavender;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;     
     }
     #c{
     display: inline-block;
    background-color: lavender;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
     }

      #two{
        display: flex;
        justify-content: center;
        align-items: center;
     } 

     #three{
        display: flex;
        justify-content: center;
        align-items: center;
     } 
     #css{
        display: inline-block;
    background-color: lavender;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
     }
     #boot{
    display: inline-block;
    background-color: lavender;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
     }
      #four{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #cl{
        display: inline-block;
        background-color: pink;
        padding-left: 250px;
        padding-right: 250px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 30px;
     }

     #ca{
        display: inline-block;
    background-color: pink;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
     } 

     
     /* #five{
     
         display: flex;
         
       
     }


     #r{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
      
     }

     #kotlin{

        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #node{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
      
     }
     #react{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
      
     } */


     #six{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #json{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #vue{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #mysql{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #xml{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }


     #seven{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #sass{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #icons{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #rwd{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #graphics{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }



     #eight{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #svg{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #canvas{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #rasp{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #cyber{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }


     #nine{
      display: flex;
      justify-content: center;
      align-items: center;
     }

     #colors{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #git{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #mat{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #num{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }


     #ten{
      display: flex;
      justify-content: center;
      align-items: center;
     }

     #pandas{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #sci{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #asp{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #ang{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #eleven{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #app{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #go{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #type{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;

      
      
     }

     #dj{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #tweleve{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #mon{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #stat{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #data{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }

     #typ{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }


     #thirteen{
      display: flex;
      justify-content: center;
      align-items: center;
     }

     #how{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     } 
     #code{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #spaces{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;
     }
     #post{
        height: 50px;
        width: 150px;
        background-color: aquamarine;
        margin-left: 100px;
        margin-top: 50px;
        padding: 50px;

     }
     

     #fourteen{
        display: flex;
        justify-content: center;
        align-items: center;
       }

     #ex{
      display: inline-block;
      background-color: lavender;
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 30px;

     
     }

     #dsa{
      display: inline-block;
      background-color: lavender;
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 30px;

      
      
     }

     #fifteen{
      display: flex;
      justify-content: center;
      align-items: center;
     }

     #ml{
      display: inline-block;
      background-color: lavender;
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 30px;

      
      
     }

     #ai{
      display: inline-block;
      background-color: lavender;
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 30px;

      
      
     }
     body{
        background-color: azure;
     }
     